.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-items: center;
  row-gap: 25px;
  margin-inline: auto;
  padding: 15px;
  width: clamp(290px, 100%, 530px);
  border: 1px solid hsla(var(--white-color), 0.18);
  border-radius: 40px;
  background: var(--form-background);
  box-shadow: 0 8px 32px 0 hsla(var(--risd-blue-color), 0.37);
  backdrop-filter: blur(20px);
}

@media (min-width: 481px) {
  .form {
    padding: 35px;
  }
}

@media (min-width: 769px) {
  .form {
    row-gap: 25px;
    padding: 50px;
  }
}
