.formHeader {
  text-align: center;
}

.title {
  margin-bottom: 15px;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  margin: 2px;
  padding: 1px;
  background-color: hsl(var(--white));
}

.formFooter {
  text-align: center;
}
