.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.text {
  padding-left: 2rem;
}

.checkbox {
  flex-direction: row;
  align-self: start;
  align-items: center;
  width: auto;
}

.checkbox-text {
  padding-left: 0;
  order: 1;
}
